PORT=5000
NODE_ENV=development
JWT_SECRET=super_secret_jwt_key_replace_in_production_9988771122
JWT_EXPIRES_IN=24h
# Optional standard Postgres connection string. If not set, embedded PostgreSQL engine (PGlite) with persistence is used in data/postgres
DATABASE_URL=
DATA_DIR=./data/postgres
